### Read start_date and track_length for all Missions and plot them over time

In [16]:
import json
import pandas as pd
import requests

query = """query MyQuery {
  all_missions {
    name
    start_date
    track_length
  }
}"""

response = requests.post("http://localhost:8001/graphql", json={'query': query})
data = json.loads(response.text)
print(data)
df = pd.json_normalize(data['data'], record_path=["all_missions"])
df

{'data': {'all_missions': [{'track_length': 765.3, 'start_date': '2019-03-08T21:17:34.876857', 'name': '2019/20190308m2'}, {'track_length': 6294.8, 'start_date': '2019-03-14T16:41:52.696998', 'name': '2019/20190314m1'}, {'track_length': 2497.5, 'start_date': '2019-01-24T18:12:32.236999', 'name': '2019/20190124m1'}, {'track_length': 6993.3, 'start_date': '2019-01-25T20:21:56.958000', 'name': '2019/20190125m1'}, {'track_length': 6270.4, 'start_date': '2019-03-08T17:20:00.039999', 'name': '2019/20190308m1'}]}}

   track_length                  start_date             name
0         765.3  2019-03-08T21:17:34.876857  2019/20190308m2
1        6294.8  2019-03-14T16:41:52.696998  2019/20190314m1
2        2497.5  2019-01-24T18:12:32.236999  2019/20190124m1
3        6993.3  2019-01-25T20:21:56.958000  2019/20190125m1
4        6270.4  2019-03-08T17:20:00.039999  2019/20190308m1